<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href ="css/styles.css">
  <title>Sipster</title>

  <script type="text/template" id="displayTmpl">
    <h3><span class='wordone'><%= word_one.data %></span> <span class='wordtwo'><%= word_two.data %></span></h3>
    <br>

    <%= shoutouts.text %>
    <br>
    <img src = "<%= images.text %>">
  </script>

</head>
<body>


  <header>
    <h1>Sipster</h1>
  </header>
<button class='home'><a href="index.html">HOME</a></button>

  <!-- <h2>Pick a mood, any mood:</h2> -->
  <section class='active'>
    <div class="mood active">
      <h2>Pick a mood, any mood:</h2>
      <button id="happy" class="moodbtn" rel="happy">Happy</button>
      <button id="lonely" class="moodbtn" rel="lonely">Lonely</button>
      <button id="inspired" class="moodbtn" rel="inspired">Inspired</button>
      <button id="dark" class="moodbtn" rel='dark'>Dark</button>
    </div>
  </section>


  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script src="js/model.js"></script>
  <script src="js/collection.js"></script>
  <script src="js/view.js"></script>
  <script src="js/route.js"></script>
  <script src="js/template.js"></script>
  <script src="js/main.js"></script>
  <script src="js/other.js"></script>

</body>
</html>
