@import 'variables';


article {
  width:35%;
  padding-left:29%;
  img {
  width: 100%;
  height:200px;
  }
}

.wordone {
  color:skyblue;
}
.wordtwo {
  color:black;
}

body, h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

h1 {
  font-family: 'sipster';
  font-size: 120px;
  text-align: center;
  color: $h1-font-color;
}

a{
  text-decoration:none;
  color:black;
  font-family: 'sipster';
  font-size:20px;
}

.home {
  text-align:center;
  margin-left:30%

}

section {
  margin: auto;
  display: none;
  width:80%;
  text-align:center;
  .mood {
    display: block;
    text-align: center;
    margin-top: 0;
  }
}

h2 {
  font-size: 24px;
  font-family: 'sipster', serif;
  text-align: center;
  padding-top: -55px;
  padding-bottom: 41px;
  letter-spacing: 1.5px;

}

.moodbtn {
    text-align: center;
    width: 28%;
    height: 300px;
    border-radius: 50%;
    margin: 5%;
    font-family: 'sipster';
    font-size: 50px;
    /* text-transform: uppercase; */
    color: black;
    /* text-shadow: 0px 0px 0px #eee, 4px 2px 0px #707070; */
    padding: 0;
    background: linear-gradient(rgba(255,255,244,0.5), rgba(255,255,244,0.5));
    border: 4px solid black ;
    &:hover {
      border: 8px double black;
      background: linear-gradient(rgba(112,112,112,0.5), rgba(112,112,112,0.5));
      color: black;
      @include transition(all 2s ease);
  }
}

.chosenOne {
  @include chosen(rise 2s forwards);
}

.animate {
  @include animateDown(animation 4s);
  opacity:0;
  transform: translateY(1000px);
}

.fadein {
  @include fadein(fade 2s .5s backwards);
}





//KEYFRAMES

@-webkit-keyframes animation{
  0%{
    opacity:100;
    -webkit-transform: rotate(20deg);
  }
  100%
  {
    opacity:0;
    transform: translateY(1000px);
    display:none;
  }
}


@-webkit-keyframes rise{
  0%{
  }
  100%
  {
    -webkit-transform: translateY(-250px);
    opacity:0;
  }
}

@-webkit-keyframes fade {
  0%{
    opacity:0;
  }
  100%
  {
    opacity:1;
  }
}


//SHOW/HIDES

div{
  display: none;
}

.active {
  display: block;
}
