@font-face {
  font-family: 'sipster';
  src: url(SUNN.otf); }

body, h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  text-align: center;
  padding-top: 40px; }

h1 {
  font-family: 'sipster';
  font-size: 120px;
  text-align: center;
  color: #1c1c1c; }

section {
  margin: auto;
  display: none; }
  section .mood {
    display: block;
    text-align: center;
    margin-top: 5%; }

h2 {
  font-size: 24px;
  font-family: 'Zorus_Serif', serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: -55px;
  padding-bottom: 41px;
  letter-spacing: 1.5px; }

.moodbtn {
  text-align: center;
  width: 32%;
  height: 300px;
  margin: 12px;
  font-family: 'PT Sans', Courier;
  font-size: 36px;
  text-transform: uppercase;
  color: black;
  text-shadow: 1px 0px 0px #eee, 4px 2px 0px #707070;
  padding: 30px 40px 30px 40px;
  background: linear-gradient(rgba(255, 255, 244, 0.5), rgba(255, 255, 244, 0.5));
  border: 8px double #707070; }
  .moodbtn:hover {
    border: 8px double black;
    background: linear-gradient(rgba(112, 112, 112, 0.5), rgba(112, 112, 112, 0.5));
    color: black;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease; }

.chosenOne {
  animation: rise 2s forwards;
  -webkit-animation: rise 2s forwards;
  -moz-animation: rise 2s forwards; }

.animate {
  animation: animation 4s;
  -webkit-animation: animation 4s;
  -moz-animation: animation 4s;
  opacity: 0;
  transform: translateY(1000px); }

.fadein {
  animation: fade 2s .5s backwards;
  -webkit-animation: fade 2s .5s backwards;
  -moz-animation: fade 2s .5s backwards; }

@-webkit-keyframes animation {
  0% {
    opacity: 100;
    -webkit-transform: rotate(20deg); }

  100% {
    opacity: 0;
    transform: translateY(1000px);
    display: none; } }

@-webkit-keyframes rise {

  100% {
    -webkit-transform: translateY(-250px);
    opacity: 0; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

div {
  display: none; }

.active {
  display: block; }
